* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
